:root{
    --tomato:hsl(4, 100%, 67%);
    --Dark-Slate-Grey:hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
*,::before,::after{
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto",sans-serif;
    background-color: var(--Charcoal-Grey);
    display:flex;
    justify-content: center;
    align-items: center;
    width: clamp(400px,100%,1440px);
    margin: 0;
    font-size: 16px;
}
main{
    width:max(60%,800px);
    height: 60%;
    background-color: var(--White);
    display: flex;
    margin: 20px;
    border-radius: 20px;
    padding-left: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
h1{
    color: var(--Dark-Slate-Grey);
    font-size: 40px;
}

.left{
    width:48%;
    
}
li{
    display: flex;
    align-items: center;
    gap: 10px;
}
li svg{
    width: 20px;
    height: 20px;
}
.right{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


label{
    font-weight: 600;
    margin-top: 30px;
    display: flex;
    font-size: 12px;
   
}

input{
    display: flex;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Grey);
    height: 40px; 
}
.fel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    width: 80%;
    height: 40px; 
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Dark-Slate-Grey);
    border: none;
}
button:hover{
    background-color: var(--tomato);
    cursor: pointer;
    color: var(--White);
}
span{
    position: relative;
    left:max(9.3vw,80px);
    color: var(--tomato);
    font-weight: 400;
    display: none;
}
.invalid{
    border:1px solid var(--tomato);
    background-color: #FFEEEE;
    color: var(--tomato);
    font-weight: 400;
    
}

.svg{
    display: none;
}
@media screen and (max-width:390px) {
    body{
        background-color: var(--Charcoal-Grey);
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    h1{
        color: var(--Dark-Slate-Grey);
        font-size: 35px;
    }
   main{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--White);
    width:80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    padding-bottom: 30px;
   }
   .desk{
    display: none;
   }
   .svg{
    display: flex ;
    position: relative;
    justify-self: center;
   }
   img{
    width: 100%;
   
   }
   .right{
    width:100%;
    
   }
   .left{
    width: 80%;
    margin-left: 30px;
    height: 70%;
   }
 
   span{
    position: relative;
    left: 0px;
    color: var(--tomato);
    font-weight: 400;
    display: none;
   }
}


@media screen and (max-width:450px) {
    body{
        background-color: var(--Charcoal-Grey);
       margin: 0;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
      overflow: hidden;
    }
    h1{
        color: var(--Dark-Slate-Grey);
        font-size: 35px;
    }
   main{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--White);
    width:80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    
   }
   .desk{
    display: none;
   }
   .svg{
    display: block ;
    margin: 0;
    position: relative;
    justify-self: center;
    padding: 0;
   }
   
   img{
    margin: 0;
    padding: 0;
  

  }
   .right{
    width:100%;
    
   }
   .left{
    width: 90%;
    margin-left: 30px;
    height: 70%;
   }
 
   span{
    position: relative;
    left:50px;
    color: var(--tomato);
    font-weight: 400;
    display: none;
   }
}